<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>&lt;menu stuff&gt;</p>
	
    {{{body}}}
	
	<p>(c) 2016, Pete McKinstry. All Rights Reserved.</p>
  </body>
</html>
